<div class="container">
  <h1 class="my-3 text-center">Account Login</h1>
  <form method="POST" action="/">
    <input type="text" placeholder="Email" name="email" class="form-control my-2  mx-auto" id="email"
      value="{{options.email}}" style="width: 30%;">
    <input type="text" placeholder="Password" name="password" class="form-control my-2 mx-auto" id="password"
      value="{{options.password}}" style="width: 30%;">
    <div class="text-center">
      <button class="btn btn-dark" type="submit">Sign in</button>
    </div>
  </form>
</div>